<div>
    <div>
        <form action="/", method="get" >
            <button>Agregar productos</button>
        </form>
        <form action="/products" method="get">
            <button>Ver Productos</button>
        </form>
    </div>
</div>