<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
</head>
<body class="background">
    {{>nav}}
    {{{body}}}
    <!-- Handlebars  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
    <!-- Socket -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="./client.socket.js"></script>
</body>
</html>