block header

    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Plantilla PUG

    body
        header 
            nav 
                form(action="/", method="get")
                    button Agregar productos
                form(action="/products", method="get")
                    button Ver Productos

    block index
    block productsList