<div class="chatLine">
    <div class="chatHead">
        <div class="chatUser">{{mail}}</div>
        <div class="chatTime"> [{{timeStamp}}]:</div>
    </div>
    <div class="chatMessage">{{message}}</div>
</div>